# Simulating upskilling

Upskilling is a costly investment of time and resources and
it is therefore important to target this investment in the
right direction. We identified a number of skills that can
help all at-risk workers to increase their number of safe and
desirable transitions.

For this purpose, we leveraged the ESCO framework of
skills and our job transition recommendation algorithm to
measure the effect of adding a single skill to a worker’s
range of transition options. First, we pre-selected 100 core
skills that reflect the central competencies for a large
number of occupations and which, therefore, would be
expected to have a positive impact on workers’ career
prospects (see `Upskilling_01_Core_skills.iypnb`) We tested each of these skills by adding them
to the at-risk workers’ skills sets and measuring the change
in the number of transition options. While the present analysis is restricted to
these 100 core skills, the same approach could be used
to evaluate any of the 13,485 ESCO skills and, as we are
using NLP, potentially even skills that are not part of
the ESCO framework.

# 0. Import dependencies and inputs

In [1]:
%run ../notebook_preamble_Transitions.ipy
import os

data = load_data.Data()
sims = load_data.Similarities()

# 1. Examples of upskilling specific occupations with one skill

We show examples of new safe and desirable transitions that emerge when we add the skill to 'manage staff' to a hotel concierge's or shop assistant's skills set.

In [3]:
# Check the effect of training the skill to "manage staff"
skill_id = 2778
data.skills.loc[skill_id]

concept_type                                KnowledgeSkillCompetence
concept_uri        http://data.europa.eu/esco/skill/339ac029-066a...
skill_type                                          skill/competence
reuse_level                                             cross-sector
preferred_label                                         manage staff
alt_labels         coordinate and monitor employees\nmanage subor...
description        Manage employees and subordinates, working in ...
id                                                              2778
code                                                          S4.8.1
skill_category                                                     S
level_1                                                           S4
level_2                                                         S4.8
level_3                                                       S4.8.1
level_title                              supervising a team or group
level_href         https://ec.europa.eu/esco/api/resource/concept...
level_uri                    http://data.europa.eu/esco/skill/S4.8.1
Name: 2778, dtype: object

### Hotel concierge

In [4]:
# Try upskilling a hotel concierge with the skill to 'manage staff'
# NB: Testing many destination_ids will take a minute or so;
# one can slightly speed it up by only checking lower risk occupations, or occupations closer to similarity threshold...
destination_ids = data.occ_report[data.occ_report.risk_category!='High risk'].id.to_list()
upskilling = trans_utils.Upskilling(origin_ids=[329],
                                    new_skillsets=[2778],
                                    destination_ids=destination_ids)
upskilling.effectiveness(safe_definition='strict')

,new_skill,new_skill_label,n_mean,n_median,level_1,ESCO skill category,level_2,ESCO skill subcategory
0,2778,manage staff,11.0,11.0,S4,management skills,S4.8,supervising people

The table shows the mean and median new transitions per occupation in origin_ids list (here, we have only one occupation)

In [5]:
# Check the new safe and desirable transitions
df = upskilling.upskilling_effects[0]['transition_table']
df[df.is_strictly_safe_desirable].sort_values('new_similarity')

,origin_id,origin_label,destination_id,destination_label,similarity,is_jobzone_ok,is_earnings_ok,is_not_high_risk,is_safer,is_strictly_safe,...,risk_dif,prop_dif,sim_category,is_viable,is_desirable,is_safe_desirable,is_strictly_safe_desirable,baseline_viable,new_similarity,is_new
7,329,hotel concierge,1279,camping ground manager,0.276179,True,True,True,True,True,...,0.522795,0.245816,not_viable,True,True,True,True,False,0.301147,True
0,329,hotel concierge,232,ICT help desk manager,0.257251,True,True,True,True,True,...,0.531649,0.058978,not_viable,True,True,True,True,False,0.301174,True
9,329,hotel concierge,1885,shop manager,0.274954,True,True,True,True,True,...,0.492418,0.234928,not_viable,True,True,True,True,False,0.301456,True
5,329,hotel concierge,1001,accommodation manager,0.267213,True,True,True,True,True,...,0.522795,0.245816,not_viable,True,True,True,True,False,0.302831,True
1,329,hotel concierge,363,publishing rights manager,0.237539,True,True,True,True,True,...,0.489083,0.195502,not_viable,True,True,True,True,False,0.306865,True
4,329,hotel concierge,888,membership manager,0.282741,True,True,True,True,True,...,0.277486,0.431412,not_viable,True,True,True,True,False,0.308579,True
6,329,hotel concierge,1011,advertising assistant,0.292075,True,True,True,True,True,...,0.376351,0.214081,not_viable,True,True,True,True,False,0.309744,True
10,329,hotel concierge,2249,shop supervisor,0.247503,True,True,True,True,True,...,0.492418,0.234928,not_viable,True,True,True,True,False,0.310800,True
11,329,hotel concierge,2514,restaurant manager,0.285487,True,True,True,True,True,...,0.425162,0.311392,not_viable,True,True,True,True,False,0.319779,True
8,329,hotel concierge,1363,client relations manager,0.294951,True,True,True,True,True,...,0.304855,0.308040,not_viable,True,True,True,True,False,0.320721,True
2,329,hotel concierge,765,court administrator,0.251298,True,True,True,True,True,...,0.571693,0.353289,not_viable,True,True,True,True,False,0.322448,True

### Shop assistant

In [6]:
# Try upskilling a shop assistant with the skill to 'manage staff'
upskilling = trans_utils.Upskilling(origin_ids=[139],
                                    new_skillsets=[2778],
                                    destination_ids=destination_ids)
upskilling.effectiveness(safe_definition='strict')

,new_skill,new_skill_label,n_mean,n_median,level_1,ESCO skill category,level_2,ESCO skill subcategory
0,2778,manage staff,5.0,5.0,S4,management skills,S4.8,supervising people

In [7]:
# Check the new transitions
df = upskilling.upskilling_effects[0]['transition_table']
df[df.is_strictly_safe_desirable].sort_values('destination_label')

,origin_id,origin_label,destination_id,destination_label,similarity,is_jobzone_ok,is_earnings_ok,is_not_high_risk,is_safer,is_strictly_safe,...,risk_dif,prop_dif,sim_category,is_viable,is_desirable,is_safe_desirable,is_strictly_safe_desirable,baseline_viable,new_similarity,is_new
4,139,shop assistant,1011,advertising assistant,0.290457,True,True,True,True,True,...,0.053011,0.234576,not_viable,True,True,True,True,False,0.308675,True
2,139,shop assistant,814,laundry and dry cleaning manager,0.276356,True,True,True,True,True,...,0.061577,0.403213,not_viable,True,True,True,True,False,0.306672,True
5,139,shop assistant,1319,office manager,0.271612,True,True,True,True,True,...,0.002660,0.394944,not_viable,True,True,True,True,False,0.307003,True
7,139,shop assistant,2249,shop supervisor,0.291414,True,True,True,True,True,...,0.169078,0.255423,not_viable,True,True,True,True,False,0.342357,True
1,139,shop assistant,469,vehicle maintenance supervisor,0.266341,True,True,True,True,True,...,0.027722,0.616187,not_viable,True,True,True,True,False,0.302047,True

### Note: One can also add a combination of skills

In [8]:
# Try upskilling a shop assistant with the skill to 'manage staff' AND 'manage budgets'
upskilling = trans_utils.Upskilling(origin_ids=[139],
                                    new_skillsets=[2778, [2778, 1776]],
                                    destination_ids=destination_ids)
upskilling.effectiveness(safe_definition='strict')

      new_skill                 new_skill_label  n_mean  n_median
1  [2778, 1776]  [manage staff, manage budgets]     9.0       9.0
0          2778                    manage staff     5.0       5.0

Note that if you use combinations of skills, the output table won't feature skills categories.

# 2. Analysis of 100 core skills for high risk occupations

We ran the analysis for 100 different skills, across approximately 1700 potential origin and destination occupations (all top level ESCO occupations). This was optimised and done separately on several AWS cloud instances. Here, we load the pre-computed results and analyse most effective skills across all 'high risk' occupations.

Note: You'll need to download [this very large file](https://ojd-mapping-career-causeways.s3.eu-west-2.amazonaws.com/data/interim/upskilling_analysis/top_occupations_100_core_skills.pickle) (approx. 2GB) that contains all of the recalculated similarity matrices.

In [2]:
# Import pre-computed results
fpath = f'{useful_paths.data_dir}interim/upskilling_analysis/top_occupations_100_core_skills.pickle'
upskilling = trans_utils.Upskilling(load_data_path=fpath, verbose=False)

In [10]:
core_skills_effect = upskilling.effectiveness(
    select_origin_ids = data.occ_report[data.occ_report.risk_category=='High risk'].id.to_list(),
    safe_definition='strict'
).round(2)

core_skills_effect.head(25)

,new_skill,new_skill_label,n_mean,n_median,level_1,ESCO skill category,level_2,ESCO skill subcategory
2,2778,manage staff,3.19,2.0,S4,management skills,S4.8,supervising people
3,1776,manage budgets,2.98,2.0,S4,management skills,S4.3,allocating and controlling resources
74,3248,maintain relationship with suppliers,2.82,2.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
13,9007,adhere to organisational guidelines,2.79,2.0,S3,assisting and caring,S3.3,protecting and enforcing
86,12932,follow company standards,2.63,2.0,S3,assisting and caring,S3.3,protecting and enforcing
20,10065,develop professional network,2.54,1.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
15,11596,build business relationships,2.46,1.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
9,12672,liaise with managers,2.43,1.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
36,1809,maintain relationship with customers,2.32,1.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
0,3475,use different communication channels,2.31,2.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
66,2144,liaise with local authorities,2.29,1.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
50,3651,manage health and safety standards,2.15,1.0,S3,assisting and caring,S3.3,protecting and enforcing
58,12240,assess financial viability,2.15,1.0,S2,information skills,S2.7,analysing and evaluating information and data
94,11337,execute feasibility study,2.12,2.0,S2,information skills,S2.7,analysing and evaluating information and data
38,424,ensure compliance with environmental legislation,2.09,1.0,S3,assisting and caring,S3.3,protecting and enforcing
47,4223,perform scientific research,2.02,1.0,S2,information skills,S2.1,"conducting studies, investigations and examina..."
10,10823,perform project management,2.01,1.0,S4,management skills,S4.2,"organising, planning and scheduling work and a..."
26,1571,perform risk analysis,2.00,1.0,S2,information skills,S2.7,analysing and evaluating information and data
65,11156,apply organisational techniques,1.98,1.0,S4,management skills,S4.2,"organising, planning and scheduling work and a..."
19,11611,apply health and safety standards,1.97,1.0,S3,assisting and caring,S3.3,protecting and enforcing
8,5558,identify customer's needs,1.97,2.0,S1,"communication, collaboration and creativity",S1.7,obtaining information verbally
5,160,create solutions to problems,1.96,1.0,S1,"communication, collaboration and creativity",S1.9,solving problems
21,7794,manage contracts,1.82,1.0,S1,"communication, collaboration and creativity",S1.1,negotiating
96,3893,ensure public safety and security,1.77,1.0,S3,assisting and caring,S3.3,protecting and enforcing
79,12699,analyse production processes for improvement,1.66,1.0,S2,information skills,S2.7,analysing and evaluating information and data

## 2.1 Specific origin occupation groups

The effect of upskilling might vary depending on the specific occupation or occupational group in question.

In [11]:
def check_specific_origin_sectors(sector):
    ids = data.occ_report[(data.occ_report.risk_category=='High risk') &
                          (data.occ_report.skills_based_sector==sector)                     
                         ].id.to_list()

    return upskilling.effectiveness(
        select_origin_ids = ids,
        safe_definition='strict',
    ).round(2)

In [12]:
check_specific_origin_sectors('business & administration workers').head(6)

,new_skill,new_skill_label,n_mean,n_median,level_1,ESCO skill category,level_2,ESCO skill subcategory
3,1776,manage budgets,4.03,3.0,S4,management skills,S4.3,allocating and controlling resources
2,2778,manage staff,3.79,3.0,S4,management skills,S4.8,supervising people
74,3248,maintain relationship with suppliers,3.64,3.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
9,12672,liaise with managers,3.41,3.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
15,11596,build business relationships,3.30,2.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
20,10065,develop professional network,3.28,2.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking

In [13]:
check_specific_origin_sectors('sales & services workers').head(6)

,new_skill,new_skill_label,n_mean,n_median,level_1,ESCO skill category,level_2,ESCO skill subcategory
2,2778,manage staff,3.54,3.0,S4,management skills,S4.8,supervising people
36,1809,maintain relationship with customers,3.40,2.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
13,9007,adhere to organisational guidelines,3.27,2.5,S3,assisting and caring,S3.3,protecting and enforcing
86,12932,follow company standards,3.27,2.5,S3,assisting and caring,S3.3,protecting and enforcing
74,3248,maintain relationship with suppliers,3.10,2.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
0,3475,use different communication channels,2.81,2.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking

In [14]:
check_specific_origin_sectors('arts & media workers').head(6)

,new_skill,new_skill_label,n_mean,n_median,level_1,ESCO skill category,level_2,ESCO skill subcategory
2,2778,manage staff,2.13,1.0,S4,management skills,S4.8,supervising people
20,10065,develop professional network,1.73,1.0,S1,"communication, collaboration and creativity",S1.2,liaising and networking
10,10823,perform project management,1.53,1.0,S4,management skills,S4.2,"organising, planning and scheduling work and a..."
3,1776,manage budgets,1.53,1.0,S4,management skills,S4.3,allocating and controlling resources
34,13387,perform market research,1.47,1.0,S2,information skills,S2.1,"conducting studies, investigations and examina..."
65,11156,apply organisational techniques,1.47,1.0,S4,management skills,S4.2,"organising, planning and scheduling work and a..."

In [15]:
check_specific_origin_sectors('ict workers').head(6)

,new_skill,new_skill_label,n_mean,n_median,level_1,ESCO skill category,level_2,ESCO skill subcategory
91,3535,adjust engineering designs,3.57,3.0,S1,"communication, collaboration and creativity",S1.11,designing systems and products
26,1571,perform risk analysis,3.43,2.0,S2,information skills,S2.7,analysing and evaluating information and data
47,4223,perform scientific research,2.87,1.0,S2,information skills,S2.1,"conducting studies, investigations and examina..."
94,11337,execute feasibility study,2.57,2.0,S2,information skills,S2.7,analysing and evaluating information and data
58,12240,assess financial viability,2.30,2.0,S2,information skills,S2.7,analysing and evaluating information and data
2,2778,manage staff,2.22,1.0,S4,management skills,S4.8,supervising people